body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-filter{margin-top: 20px !important; margin-bottom: 10px !important;}
.product-image{width:100%;height: 200px;}
.quantity-field{display: inline-block;margin-left: 10px;margin-right: 10px;}
.item-content{margin-bottom: 10px;}
.remove-item{display: block; margin-top: 10px;}